html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    min-height: 100vh; /* Ensures body takes full height of the viewport */
    font-family: "Lucida Console", "Courier New", monospace;;
}

.content-wrapper {
    text-align: center;  /* Centers the content inside the wrapper */
}

h1 {
    margin-bottom: 20px;  /* Adds space between the h1 and calculator */
}

h1 .titler {
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
}

.calculator {
    background-color: rgb(61, 63, 63);
    display: flex;
    height: 70vh;
    width: 70vh;
    margin: auto; /* Ensures it's centered */
    justify-content: center;
    padding: 8vh;
    border-radius: 110px;
}

.sum {
    background-color: rgb(112, 108, 108);
    justify-content: center;
    justify-content: center;
    text-align: left;
    padding-left: 10px;
}

.total {
    background-color: aqua;
    text-align: center;
    
}

table, td{
    justify-content: center;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 20px;    
    word-wrap: nowrap;
    font-size: 5vh;
}

.nums {
    word-wrap: nowrap;
    font-size: fill;
    background-color: rgb(235, 227, 213);
}

table {
    padding: 10px;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-style: none;
    background-color: rgb(43, 43, 49);
}   